@if (movies && movies.length > 0) {
    <div class="container-carousel">
        @for (movie of movies; track $index) {
            <img [src]="movie.imageBannerUrl"
                [ngClass]="{'image-active': selectedIndex === $index}"
                class="fade"
                [attr.data-movie-id]="movie.id">
        }

        <div class="btn-carousel btn-next-image">
            <i class="fa fa-arrow-circle-right icon-carousel" aria-hidden="true"
                (click)="onClickNextButton()"
            ></i>
        </div>

        <div class="btn-carousel btn-prev-image">
            <i class="fa fa-arrow-circle-left icon-carousel" aria-hidden="true"
                (click)="onClickPrevButton()"
            ></i>
        </div>
    </div>
}