@if (movies && movies.length > 0) {
    <div class="container-carousel">
        @for (movie of movies; track $index) {
            <img [src]="movie.imageBannerUrl"
                [ngClass]="{'image-active': selectedIndex === $index}"
                class="fade"
                (click)="navigateToMoviePage()">
        }

        <div class="btn-carousel btn-next-image"
            (click)="onClickNextButton()">

            <i class="fa fa-arrow-circle-right icon-carousel" aria-hidden="true"></i>
        </div>

        <div class="btn-carousel btn-prev-image"
            (click)="onClickPrevButton()">
            
            <i class="fa fa-arrow-circle-left icon-carousel" aria-hidden="true"></i>
        </div>
    </div>
}