<main>
    <section id="header-section">
        <div><img ngSrc="./icons/menu-icon.svg" width="24" height="24"></div>
        <div><img ngSrc="./logo-header.svg" width="153" height="19" priority></div>
        <div>Entrar</div>
    </section>

    <section id="body-section">
        <ng-content></ng-content>
    </section>

    <section id="footer-section">
        <div>
            <img ngSrc="./icons/film-icon.svg" width="24" height="24">
            <span>Filmes</span>
        </div>
        <div>
            <img ngSrc="./icons/fav-icon.svg" width="24" height="24">
            <span>Favoritos</span>
        </div>
        <div>
            <img ngSrc="./icons/user-icon.svg" width="24" height="24">
            <span>Perfil</span>
        </div>
    </section>
</main>