@import "../../../styles/variables.scss";

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    #header-section {
        display: flex;
        justify-content: space-between;
        background-color: $secondary-bg-color;
        padding: 15px 10px;
        height: 60px;

        #menu-icon {
            visibility: hidden;
        }

        div {
            display: flex;
            align-items: center;
            cursor: pointer;
            color: $text-color;
        }
    }

    #body-section {
        flex-grow: 1;
        height: 1px;
    }

    #footer-section {
        display: flex;
        justify-content: space-between;
        background-color: $secondary-bg-color;
        padding: 10px 35px;
        margin-top: 1px;
        box-shadow: inset 0px 5px 20px #9d9dc963;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
    }
}

@media screen and (min-width: 1000px) {
    main {
        #header-section {

            #menu-icon {
                visibility: initial;
            }
        }
        #footer-section {
            display: none;
        }
    }
}

@media screen and (min-width: 1800px) and (min-height: 900px) {
    main {
        
        #header-section > div > img {
            zoom: 1.5
        }
    }
}