<main>
    <section (click)="openCloseHandlerMenu()" id="menu-section-overlay" [style]="!menuIsOpen ? 'display: none' : ''"></section>
    
    <section id="menu-section" [ngClass]="{'menu-visible': menuIsOpen}">
        <div id="menu-header">
            <div (click)="openCloseHandlerMenu()">
                <img ngSrc="./icons/close-icon.svg" width="24" height="24">
            </div>
        </div>
        <div id="menu-items">
            <div (click)="navigateToMainPage()">
                <img ngSrc="./icons/home-icon.svg" width="24" height="24">
                <span>Explorar</span>
            </div>
            <span></span>
            <div (click)="navigateToUserMoviePage()">
                <img ngSrc="./icons/film-icon.svg" width="24" height="24">
                <span>Meus Filmes</span>
            </div>
            <span></span>
            <div (click)="navigateToUserProfilePage()">
                <img ngSrc="./icons/user-icon.svg" width="24" height="24">
                <span>Perfil</span>
            </div>
            <span></span>
            <div (click)="navigateToImagesRights()">
                <img ngSrc="./icons/imagesmode-icon.svg" width="24" height="24">
                <span>Direitos das Imagens</span>
            </div>
        </div>
        <div id="menu-footer">
            <span>Desenvolvido por <span id="autor-name">Levison Jr.</span></span>         
            <a href="https://www.linkedin.com/in/levison-junior/" target="_blank">
                <div>
                    <img ngSrc="./icons/linkedin-icon.svg" width="24" height="24">
                    <span>LinkedIn</span>
                </div>
            </a>
            <a href="https://github.com/Levison-Jr/" target="_blank">
                <div>
                    <img ngSrc="./icons/github-icon.svg" width="24" height="24">
                    <span>GitHub</span>
                </div>
            </a>
        </div>
    </section>

    <section id="header-section" [style]="!headerVisible ? 'display: none' : ''">
        <div (click)="openCloseHandlerMenu()" id="menu-icon"><img ngSrc="./icons/menu-icon.svg" width="24" height="24"></div>
        <div (click)="navigateToMainPage()"><img ngSrc="./logo-header.svg" width="153" height="19" priority></div>
        <div (click)="navigateToLoginPage()">
            @if (usuarioAutenticado) {
                <img ngSrc="./icons/logout-icon.svg" width="24" height="24">
            }
            @else {
                Entrar
            }
        </div>
    </section>

    <section id="body-section">
        <div id="loading-overlay" [style]="!loadingOverlayVisible ? 'display: none' : ''">
            <div id="loading-overlay-body">
                <span class="loading-circle"></span>
                <span class="loading-circle"></span>
                <span class="loading-circle"></span>
            </div>
        </div>

        <ng-content></ng-content>
    </section>

    <section id="footer-section">
        <div (click)="navigateToMainPage()">
            <img ngSrc="./icons/home-icon.svg" width="24" height="24">
            <span>Explorar</span>
        </div>
        <div (click)="navigateToUserMoviePage()">
            <img ngSrc="./icons/film-icon.svg" width="24" height="24">
            <span>Meus Filmes</span>
        </div>
        <div (click)="navigateToUserProfilePage()">
            <img ngSrc="./icons/user-icon.svg" width="24" height="24">
            <span>Perfil</span>
        </div>
    </section>
</main>