@import "../../../styles/variables.scss";

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    #header-section {
        display: flex;
        justify-content: space-between;
        background-color: $secondary-bg-color;
        padding: 15px 10px;
        height: 60px;

        div {
            display: flex;
            align-items: center;
            cursor: pointer;
            color: $text-color;
        }
    }

    #footer-section {
        display: flex;
        justify-content: space-between;
        background-color: $secondary-bg-color;
        padding: 15px 40px;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
    }
}