<main>
    <section id="header-section" [style]="!headerVisible ? 'display: none' : ''">
        <div><img ngSrc="./icons/menu-icon.svg" width="24" height="24" style="visibility: hidden;"></div>
        <div><img ngSrc="./logo-header.svg" width="153" height="19" priority></div>
        <div (click)="navigateToLoginPage()">
            @if (usuarioAutenticado) {
                <img ngSrc="./icons/logout-icon.svg" width="24" height="24">
            }
            @else {
                Entrar
            }
        </div>
    </section>

    <section id="body-section">
        <ng-content></ng-content>
    </section>

    <section id="footer-section">
        <div (click)="navigateToMainPage()">
            <img ngSrc="./icons/home-icon.svg" width="24" height="24">
            <span>Explorar</span>
        </div>
        <div (click)="navigateToUserMoviePage()">
            <img ngSrc="./icons/film-icon.svg" width="24" height="24">
            <span>Meus Filmes</span>
        </div>
        <div>
            <img ngSrc="./icons/user-icon.svg" width="24" height="24">
            <span>Perfil</span>
        </div>
    </section>
</main>