<main>
    <section class="form-section">
        <img ngSrc="./logo.svg" width="300" height="114" priority>

        <ng-content></ng-content>

        <div class="btn-container">
            <button (click)="primaryBtnEmitter()" class="primary-btn" [disabled]="primaryBtnDisabled">{{primaryBtnText}}</button>
            <div class="divisor">
                <span></span>
                ou
                <span></span>
            </div>
            <button (click)="secondaryBtnEmitter()" class="secondary-btn">{{secondaryBtnText}}</button>
        </div>
    </section>
</main>