@import "../../../styles/variables.scss";

#loading-overlay-login {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9997;
    background-color: rgb(0 0 0 / 10%);

    #loading-overlay-login-body {
        display: flex;
        gap: 12px;
        position: relative;

        .loading-circle {
            display: block;
            width: 15px;
            height: 15px;
            background-color: #9b6aff;
            border-radius: 50%;

            animation: loading .5s infinite ease-in-out;

            &:nth-child(1) {
                animation-delay: 0.4s;
            }

            &:nth-child(2) {
                animation-delay: 0.2s;
            }

            &:nth-child(3) {
                animation-delay: 0s;
            }
        }
    }
}

main {
    height: 100%;
    width: 100%;
    padding: 20px 20px 30px;
    background-color: $primary-bg-color;

    .form-section {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        img {
            width: 300px;
            margin-top: 50px;
        }

        .btn-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;
            margin-top: 20px;

            button {
                font-size: 20px;
                font-weight: 500;
                text-transform: uppercase;
                cursor: pointer;
                
                border: none;
                border-radius: 20px;
                padding: 6px;
                box-shadow:0px 4px 4px rgba(0, 0, 0, 0.15);
    
                &.primary-btn {
                    background-color: $primary-color;
                    color: #ffffff;           
                }
    
                &.secondary-btn {
                    background-color: #ffffff;
                    color: $primary-color;
                    border: 1px solid $primary-color;         
                }

                &:disabled {
                    opacity: 0.8;
                }
            }

            .divisor {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                text-transform: uppercase;
                color: rgb(142 142 142 / 70%);
                gap: 10px;
                width: 100%;
    
                span {
                    height: 1px;
                    width: 40%;
                    background-color: rgb(142 142 142 / 70%);
                }
            }
        }
    }
}

@media screen and (min-width: 1300px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;

        .form-section {
            border: 1px solid rgb(209, 209, 209);
            border-radius: 20px;
            padding: 30px 20px;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);

            width: 35%;
        }
    }
}

@media screen and (min-width: 1300px) and (min-height: 800px) {
    main {

        .form-section {
            height: 90%;

            .btn-container {
    
                button {
                    font-size: 32px;
                }
            }
        }
    }
}


@media screen and (min-width: 1000px) and (min-height: 580px) and (max-height: 799px) {
    main {

        .form-section {
            padding: 10px 20px;

            img {
                margin-top: 0;
            }
        }
    }
}

@keyframes loading {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}