<app-default-layout [headerVisible]="false">
    <main>
        <section id="banner-section">
            <div>
                <h1>Vingadores</h1>
                <h2>Guerra Infinita</h2>
            </div>

            <div id="wrapper-info-tags">
                <div class="info-tags">
                    <img ngSrc="./icons/folder-icon.svg" width="18" height="18">
                    <span>Ação e Aventura</span>
                </div>

                <div class="info-tags">
                    <img ngSrc="./icons/money-icon.svg" width="18" height="18">
                    <span>R$ 4,00 /dia</span>
                </div>
            </div>
        </section>

        <section id="detail-section">

        </section>
    </main>
</app-default-layout>