<app-default-layout [headerVisible]="false">
    <main>
        @if (movie) {
            <section id="banner-section">
                <img id="banner-image" [ngSrc]="movie.imageBannerUrl" fill priority>

                <div>
                    <h1>{{movie.title}}</h1>
                    <h2>{{movie.subTitle}}</h2>
                </div>

                <div id="wrapper-info-tags">
                    <div class="info-tags">
                        <img ngSrc="./icons/folder-icon.svg" width="18" height="18">
                        <span>{{movie.category}}</span>
                    </div>

                    <div class="info-tags">
                        <img ngSrc="./icons/money-icon.svg" width="18" height="18">
                        <span>{{movie.costPerDay | currency : 'BRL'}} /dia</span>
                    </div>
                </div>
            </section>

            <section id="detail-section">
                <div>
                    <h3>Lançamento {{movie.releaseDate.split("-")[0]}}</h3>
                    <div class="wrapper-info-duration">
                        <img src="./icons/clock-icon.svg">
                        <p>{{movie.duration.split(":")[0].replace("0","")}} hora(s) e {{movie.duration.split(":")[1]}} minuto(s)</p>
                    </div>
                </div>

                <div>
                    {{movie.description}}
                </div>

                <app-button (onClick)="navigateToRentMovie()" btnType="primatyButton">
                    ALUGAR FILME
                </app-button>
            </section>

            <section id="rent-section">
                <div>
                    <p>Dia da retirada</p>

                    <div id="wrapper-pick-day">
                        <div>
                            <input type="radio" name="pick-day" id="check-hoje" checked>
                            <div>
                                <label for="check-hoje">Hoje</label>
                                <span>20/09/2024</span>
                            </div>
                        </div>

                        <div>
                            <input type="radio" name="pick-day" id="check-amanha">
                            <div>
                                <label for="check-amanha">Amanhã</label>
                                <span>21/09/2024</span>
                            </div>
                        </div>
                    </div>
                </div>

                <form [formGroup]="rentForm">
                    <app-primary-input
                        formControlName="expirationDate"
                        inputId="input-expiration-date"
                        type="email"
                        label="Data de devolução"
                        placeholder="seuemail@aqui.com">
            
                        <img src="./icons/email-icon.svg">
                    </app-primary-input>
                </form>

                <div>
                    <p>Resumo do aluguel</p>

                    <div id="wrapper-resumo">
                        <span>Duração: <span>5</span> <span> dia(s)</span></span>
                        <span>Valor total: <span>R$ 20,00</span></span>
                    </div>
                </div>

                <app-button btnType="primatyButton">
                    CONFIRMAR
                </app-button>
            </section>
        }
        @else if (movieNotFound) {
            <h1 style="text-align: center;">Filme não encontrado</h1>
        }
    </main>
</app-default-layout>