<app-default-layout [headerVisible]="false">
    <main>
        @if (movie) {
            <section id="banner-section">
                <img id="banner-image" [ngSrc]="movie.imageBannerUrl" fill priority>

                <div>
                    <h1>{{movie.title}}</h1>
                    <h2>{{movie.subTitle}}</h2>
                </div>

                <div id="wrapper-info-tags">
                    <div class="info-tags">
                        <img ngSrc="./icons/folder-icon.svg" width="18" height="18">
                        <span>{{movie.category}}</span>
                    </div>

                    <div class="info-tags">
                        <img ngSrc="./icons/money-icon.svg" width="18" height="18">
                        <span>{{movie.costPerDay | currency : 'BRL'}} /dia</span>
                    </div>
                </div>
            </section>

            <section id="detail-section">
                <div>
                    <h3>Lançamento {{movie.releaseDate.split("-")[0]}}</h3>
                    <div class="wrapper-info-duration">
                        <img src="./icons/clock-icon.svg">
                        <p>{{movie.duration.split(":")[0].replace("0","")}} hora(s) e {{movie.duration.split(":")[1]}} minuto(s)</p>
                    </div>
                </div>

                <div>
                    {{movie.description}}
                </div>

                <app-button (onClick)="navigateToRentMovie()" btnType="primatyButton">
                    ALUGAR FILME
                </app-button>
            </section>
        }
        @else if (movieNotFound) {
            <h1 style="text-align: center;">Filme não encontrado</h1>
        }
    </main>
</app-default-layout>