<app-default-login-layout
    primaryBtnText="Entrar"
    secondaryBtnText="Criar Conta"
    (callbackPrimaryBtn)="login()"
    (callbackSecondaryBtn)="navigateToSignupPage()">

    <form [formGroup]="loginForm">
        <app-primary-input
            formControlName="email"
            inputId="input-login-email"
            type="email"
            label="Email"
            placeholder="seuemail@aqui.com">

            <img src="./icons/email-icon.svg">
        </app-primary-input>

        <app-primary-input
            formControlName="password"
            inputId="input-login-password"
            type="password"
            label="Senha"
            placeholder="Digite sua senha">

            <img src="./icons/password-icon.svg">
        </app-primary-input>
    </form>

</app-default-login-layout>