main {
    display: flex;
    flex-direction: column;
    padding: 0px 15px 15px;
    height: 100%;

    form {
        display: flex;
        flex-direction: column;

        app-primary-input {
            margin-top: 15px;
        }
    }

    app-button {
        margin-top: auto;
    }
}