<app-default-layout>
    <main>
        @if (user != null) {
            <form [formGroup]="userForm">
                <app-primary-input
                    type="email"
                    inputId="user-email"
                    label="Email"
                    [disabled]="true"
                    [preValue]="user.email">
    
                </app-primary-input>
    
                <app-primary-input
                    formControlName="firstName"
                    type="text"
                    inputId="user-first-name"
                    label="Nome"
                    [preValue]="user.firstName" >
    
                </app-primary-input>
    
                <app-primary-input
                    formControlName="lastName"
                    inputId="user-last-name"
                    type="text"
                    label="Sobrenome"
                    [preValue]="user.lastName" >
    
                </app-primary-input>
    
                <app-primary-input
                    formControlName="phoneNumber"
                    inputId="user-phone-number"
                    type="text"
                    label="Celular"
                    [preValue]="user.phoneNumber" >
    
                </app-primary-input>
            </form>

            <app-button
                [disabled]="false"
                (onClick)="salvarInfoUser()">
                
                SALVAR
            </app-button>
        }
    </main>
</app-default-layout>
