<app-default-layout>
    <main>
        <section id="destaques-section">
            <div class="container-label-section">
                <img ngSrc="./icons/play-arrow-icon.svg" width="24" height="24">
                <span>Destaques</span>
            </div>

            <div class="wrapper-carousel">
                <app-carousel [movies]="moviesToCarousel"></app-carousel>
            </div>
        </section>

        <section id="explorar-section">
            <div class="container-label-section">
                <img ngSrc="./icons/list-icon.svg" width="24" height="24">
                <span>Explorar</span>
            </div>

            <div id="wrapper-movie-cards">
                @for (movie of moviesToExplorer; track $index) {
                    <app-movie-card
                        [movieId]="movie.id"
                        [titulo]="movie.title"
                        [categoria]="movie.category"
                        [caminhoImagem]="movie.imageIconUrl">

                    </app-movie-card>
                }
            </div>
        </section>
    </main>
</app-default-layout>
