<app-default-layout>
    <main>
        <section id="pendentes-section">
            <div class="container-label-section">
                <img ngSrc="./icons/play-arrow-icon.svg" width="24" height="24">
                <span>Aguardando retirada</span>
            </div>

            <div>
                @if (!userMoviesCarregados()) {
                    Carregando...
                }
                @else if (userMoviesPendentes.length == 0) {
                    Nenhum aluguel pendente de retirada!
                }
                @else {
                    <div class="container-list-user">
                        @for (item of userMoviesPendentes; track item.id) {
                            <div class="list-user-movies" [attr.data-rental-id]="item.id">
                                <div>
                                    <div class="list-movie-title">{{item.movie.title}}</div>
                                    <div>Prazo: {{ calcularDataMaximaRetirada(item.rentalStartDate) }}</div>
                                </div>
    
                                <img ngSrc="./icons/delete-icon.svg" width="24" height="24">
                            </div>
                        }
                    </div>
                }
            </div>
        </section>

        <section id="emProgresso-section">
            <div class="container-label-section">
                <img ngSrc="./icons/play-arrow-icon.svg" width="24" height="24">
                <span>Em Progresso</span>
            </div>

            <div>
                @if (!userMoviesCarregados()) {
                    Carregando...
                }
                @else if (userMoviesEmAndamento.length == 0) {
                    Nenhum aluguel em progresso!
                }
                @else {
                    <div class="container-list-user">
                        @for (item of userMoviesEmAndamento; track item.id) {
                            <div class="list-user-movies">
                                <div>
                                    <div class="list-movie-title">{{item.movie.title}}</div>
                                    <div>Devolução: {{ formatarData(item.rentalEndDate) }}</div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </section>
    </main>
</app-default-layout>